<!DOCTYPE html>
<html>
<head>
	<title>QUIÉNES SOMOS</title>
	<link rel="stylesheet" type="text/css" href="../css/navbar.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/quienesSomos.css">
</head>
<body>
	<div class="navbar">
		<div class="header">
			<a class="home" href="../../index.html"><b>JP</b> Advisor & Consultants S.A.S</a>
		</div>
		<div class="navbarLink">
			<h2><a class="navbarSection" href="quienesSomos.html">Quiénes somos</a></h2>
		</div>
		<div class="navbarLinkServices">
			<div>Servicios:</div>
			<div class="navbarLinkServicesCont">
				<select class="navbarSectionServices" name="servicios" onChange="window.location.href=this.value">
					<option value="servicios.html">
						Seleccione
					</option>
					<option value="servicios.html#asesoriaTributariaSection">
						Asesoria Tributaria
					</option>
					<option value="servicios.html#aseguramientoSection">
						<a href="">Aseguramiento</a>
					</option>
					<option value="servicios.html#outsourcingContableSection">
						<a href="">Outsourcing Contable</a>
					</option>
					<option value="servicios.html#outsourcingNominaSection">
						<a href="">Outsourcing Nómina</a>
					</option>
					<option value="servicios.html#normasNIIFSection">
						<a href="">Normas NIIF</a>
					</option>
					<option value="servicios.html#consultoriaFinancieraSection">
						<a href="">Consultoría Financiera</a>
					</option>
				</select>
			</div>						
			<!--<div class="servicesOptions">
				<a href="">Asesoria Tributaria</a>
				<a href="">Aseguramiento</a>
				<a href="">Outsourcing Contable</a>
				<a href="">Outsourcing Nómina</a>
				<a href="">Nomas NIIF</a>
				<a href="">Consultoría Financiera</a>
			</div>-->
		</div>
		<div class="navbarLink">
			<h2><a class="navbarSection" href="">Publicaciones</a></h2>
		</div>
		<div class="navbarSearch">
			<a href=""><img src="../img/searchIcon.png" class="searchIcon"></a>	
			<input type="text" name="" placeholder="Buscar" class="searchInput">
		</div>
	</div>
	<div class="quienesSomosSection">
		<div class="quienesSomosText">
			Somos una firma conformada por experimentados profesionales de diversas disciplinas con extensos estudios, constituidos para brindar apoyo en el manejo de procesos contables, auditoria, asesoría y consultoría financiera, tributaria y de negocios en general.
			En Colombia, nuestra firma es una institución jurídica legalmente constituida conforme a las leyes de Colombia, y se encuentra debidamente autorizada e inscrita en la Junta Central de Contadores de Colombia, por lo que tiene plenas facultades para el ejercicio de la profesión contable.
			Como asesores profesionales ayudamos a nuestros clientes a resolver problemas complejos de negocios y tenemos el objetivo de mejorar su capacidad y rendimiento para generar valor y administrar el riesgo.
		</div>
	</div>
</body>
</html>