<!DOCTYPE html>
<html>
<head>
	<title>SERVICIOS</title>
	<link rel="stylesheet" type="text/css" href="../css/servicios.css">
	<link rel="stylesheet" type="text/css" href="../css/navbar.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel='stylesheet prefetch' href='http://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css'>
	<link rel='stylesheet prefetch' href='http://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css'>

	<link rel="stylesheet" href="../css/servicesSlider.css">
</head>
<body>
	<div class="navbar">
		<div class="header">
			<a class="home" href="../../index.html"><b>JP</b> Advisor & Consultants S.A.S</a>
		</div>
		<div class="navbarLink">
			<h2><a class="navbarSection" href="quienesSomos.html">Quiénes somos</a></h2>
		</div>
		<div class="navbarLinkServices">
			<div>Servicios:</div>
			<div class="navbarLinkServicesCont">
				<select class="navbarSectionServices" name="servicios" onChange="window.location.href=this.value">
					<option value="servicios.html">
						Seleccione
					</option>
					<option value="servicios.html#asesoriaTributariaSection">
						Asesoria Tributaria
					</option>
					<option value="servicios.html#aseguramientoSection">
						<a href="">Aseguramiento</a>
					</option>
					<option value="servicios.html#outsourcingContableSection">
						<a href="">Outsourcing Contable</a>
					</option>
					<option value="servicios.html#outsourcingNominaSection">
						<a href="">Outsourcing Nómina</a>
					</option>
					<option value="servicios.html#normasNIIFSection">
						<a href="">Normas NIIF</a>
					</option>
					<option value="servicios.html#consultoriaFinancieraSection">
						<a href="">Consultoría Financiera</a>
					</option>
				</select>
			</div>						
			<!--<div class="servicesOptions">
				<a href="">Asesoria Tributaria</a>
				<a href="">Aseguramiento</a>
				<a href="">Outsourcing Contable</a>
				<a href="">Outsourcing Nómina</a>
				<a href="">Nomas NIIF</a>
				<a href="">Consultoría Financiera</a>
			</div>-->
		</div>
		<div class="navbarLink">
			<h2><a class="navbarSection" href="">Publicaciones</a></h2>
		</div>
		<div class="navbarSearch">
			<a href=""><img src="../img/searchIcon.png" class="searchIcon"></a>	
			<input type="text" name="" placeholder="Buscar" class="searchInput">
		</div>
	</div>
	<div class="servicesSection slider-wrapper">
		<div class="servicesList slider">
			<div class="slider--item">
				<div class="servicesGrid" id="asesoriaTributariaSection">
					<div class="servicioTitulo asesoriaTributaria">Asesoria Tributaria</div>
					<div class="serviceCard">
						<div class="cardIcons">
							<img src="../img/preventivas.png">
						</div>					
						<div class="servicioSubtitulo auditorias">Auditorias tributarias preventivas</div>
						<div class="servicioText auditoriasText">Este servicio permite a nuestros clientes verificar el cumplimiento de sus obligaciones tributarias, identificar y prevenir su exposición a eventuales contingencias fiscales y a la vez proveer soluciones y recomendaciones específicas para mitigar los riesgos derivados de los hallazgos o contingencias fiscales identificadas durante este proceso.</div>
					</div>
					<div class="serviceCard">
						<div class="cardIcons">
							<img src="../img/outsourcing.png">
						</div>					
						<div class="servicioSubtitulo outsourcing">Outsourcing en Impuestos </div>
						<div class="servicioText outsourcingText">Concentración de esfuerzos en la preparación y presentación de impuestos a nivel nacional, distrital y municipal,  para dar cumplimiento a la normatividad legal y tributaria. El objetivo principal de este servicio, es la presentación oportuna y adecuada de la información tributaria.</div>
					</div>				
					<div class="serviceCard">
						<div class="cardIcons">
							<img src="../img/panning.png">
						</div>					
						<div class="servicioSubtitulo planificacion">Planificación y desarrollo de estrategias fiscales</div>
						<div class="servicioText planificacionText">Consecución, dentro de los espacios de legalidad, de la optimización de la carga tributaria de nuestros clientes, mediante la implementación de procedimientos y políticas tributarias adecuadas y aplicables.</div>
					</div>	
				</div>					
			</div>
			<div class="servicesGrid slider--item" id="aseguramientoSection">
				<div class="servicioTitulo aseguramiento">Aseguramiento</div>
				<div class="serviceCard aseguramientoCard">
					<div class="cardIcons">
						<img src="../img/assurance.png">
					</div>	
					<div class="servicioText aseguramientoText">
						Aplicación  de los marcos normativos nacionales e internacionales y cumplimiento de las responsabilidades legales  impartidas por los entes de vigilancia y control.
						Nuestro trabajo se enfoca en la revisión y análisis de los Estados Financieros, con el fin de brindar una opinión acorde con la situación de la empresa, dirigida a los usuarios internos y externos de la información, actuando siempre con total independencia y competencia profesional, de acuerdo al Código de Ética para el profesional de la Contaduría Pública. <br><br>
						Los servicios que prestamos:<br><br>
						•	Revisoría Fiscal <br>
						•	Auditoría Interna<br>
						•	Auditoría Externa<br>
						•	Evaluación al Control Interno
					</div>
				</div>	
			</div>
			<div class="servicesGrid slider--item" id="outsourcingContableSection">
				<div class="servicioTitulo outsourcingBg">Outsourcing Contable</div>
				<div class="outsourcingSect">
					<div class="serviceCard">
						<div class="cardIcons">
							<img src="../img/computer.png">
						</div>	
						<div class="servicioText aseguramientoText">
							Outsourcing o tercerización en el que se asume el manejo contable de las operaciones dependiendo de la actividad económica de cada empresa, ofreciendo un soporte permanente en el registro de información contable a través de personal humano propio o del personal humano asignado por cada empresa, con el propósito de reflejar de manera oportuna el movimiento de las actividades de la empresa en forma clara, veraz, confiable y precisa, cumpliendo con las normas legales vigentes aplicables al ámbito contable y tributario y cumpliendo con la normatividad internacional.<br><br>
							Emisión de informes financieros en tiempo real, análisis mensual comparativo de Estados financieros.
							Depuración, realización y presentación de información exógena ante la Dirección de Impuestos nacionales (DIAN, Superintendencia de Sociedades, DANE),  distritales (Secretaria Distrital de Hacienda) y municipales (Diferentes alcaldías).
						</div>
					</div>	
					<div class="serviceCard">
						<div class="cardIcons">
							<img src="../img/keyboard.png">
						</div>	
						<div class="servicioSubtitulo planificacion">Actividades</div>
						<div class="servicioText aseguramientoText">				
							•Revisión, validación y clasificación de documentos contables.
							•Registro de las operaciones de la compañía.
							•Organización y almacenamiento del archivo de los soportes e informes contables y tributarios. 
							•Manejo y generación de libros contables según normatividad vigente
							•Presentación mensual y anual de Estados financieros bajo estándares internacionales.
							•Preparación mensual y bimestral de los impuestos, ante la DIAN y Secretaria de Hacienda.
							•Estructuración de centros de costos.
							•Asesoría permanente en el manejo tributario de las operaciones cotidianas. 
							•Elaboración de la información exógena nacional, distrital y municipal.
							•Proyección de impuesto sobre la renta de la empresa  mes a mes, permitiendo al empresario tomar decisiones periódicamente y en tiempo real.
						</div>
					</div>
				</div>
			</div>						
			<div>Outsourcing Nómina</div>
			<div>Normas NIIF</div>
			<div>Consultoría Financiera</div>			
		</div>
	</div>

	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src='http://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js'></script>

	<script src="../js/servicesSlider.js"></script>
</body>
</html>